<% layout("./layouts/boilerplate") %>
<style>
    #errorContainer {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #errorContainer h1 span {
        color: #dc6739;
    }
</style>

<div id="errorContainer">
    <h1>Error<span> 404</span></h1>
    <h3>No se encontro esa pagina!</h3>
</div>