<% layout("./layouts/boilerplate") %>
<link rel="stylesheet" href="stylesheets/newPostHome.css">

<div class="bodyContainer">

<div class="text-center"><h1>Crear publicacion:</h1></div>

<div class="buttonsDiv">
    <a href="/mascotas/nueva" class="btn btn-lg btn-blue-color button0" ><br> Tu mascota se perdio </a>
    <a href="/encontradas/nueva" class="btn btn-lg btn-blue-color button1">Encontraste una mascota perdida<br> รณ <br>que necesita adopcion</a>
</div>

</div>

<!-- activa el link en Navbar -->
<script> 
    link3.classList.add("active");
</script>