.div-register {
    font-weight: 600;
    width: 45%;
}

.input-register {
    background-color: #e5e5e5;
}

#map-NewUser {
    height: 400px;
}

#geometry {
    display: none;
}

@media(max-width:991px){
    .div-register {
        width: 65%;
    }
}

@media(max-width:767px){
    .div-register {
        width: 85%;
    }
}

@media(max-width:575px){
    .div-register {
        width: 100%;
    }

    .container {
        padding: 0px;
    }
}