<footer class="footer py-3 mt-auto footer-style">
    <div class="container" style="display: flex;">
        <span>&copy; Mascotas Perdidas LP - Joaquin Enriques</span>
        <span style="margin-left: auto;"><a href="mailto:mascotasperdidaslaplata@gmail.com" style="text-decoration: none; color: white"><i class="fas fa-envelope"></i> <span style="vertical-align: text-bottom;">mascotasperdidaslaplata@gmail.com</span></a></span>
    </div>
</footer>