<% layout("./layouts/boilerplate") %>

<h5>Para cualquier tipo de sugerencia te recomendamos nos mandes mail a:</h5>
<p style="font-weight: 400;">MascotasPerdidasLaPlata@gmail.com</p>

<h5>Tambien podes contactarnos a nuestras redes sociales:</h5>
<a href="">Facebook</a>
<a href="">Instagram</a>
<a href="">Twitter</a>