<% layout("./layouts/boilerplate") %>

<div style="background-color: white; border-radius: 8px; box-shadow: 0 0 0 2px #bdbbbb; padding: 2rem;">
    <h3 class="text-center">Contacto</h3>
    <p class="mt-3">Si necesitas contactarme podes hacerlo enviando un e-mail a: <a href="mailto:mascotasperdidaslaplata@gmail.com" style="text-decoration: none; color: black"><span>mascotasperdidaslaplata@gmail.com</span></a></p>
    <p>o por medio de la pagina de <a href="https://www.facebook.com/mascotasperdidaslpoficial/">Facebook</a></p>
</div>